<h1 class="show_name">{{guitarist.name}}</h1>
<div><a class="links" href="/guitarists/">Home</a></div>
<br>
<div class="guitarist_info">
    <img class="guitarist-show-image" src="{{guitarist.img}}">
    <div class="guitarist-details">
        <div class="info">Band</div>
        <div>{{guitarist.band}}</div>
        <br>
        <div class="info">Bio</div>
        <div>{{guitarist.bio}}</div>
        <br>
        <form action="/guitarists/{{guitarist._id}}?_method=DELETE" method="POST">
            <input class="ui inverted basic button" type="submit" value="Delete Guitarist">
            <a class="ui inverted basic button" href="/guitarists/{{guitarist._id}}/edit">Edit Guitarist</a>
        </form>
        <br>
        <div class="info">Songs<a class="links" href="/guitarists/{{guitarist._id}}/songs/new">(+)</a></div>
        <br>
        <ol class="song-list">
            {{#each songs}}
            <li><a class="links" href="/guitarists/{{../guitarist._id}}/songs/{{this._id}}">{{this.name}}</a></li>
            <br>
            <form action="/guitarists/{{../guitarist._id}}/songs/{{this._id}}?_method=DELETE" method="POST">
                <input class="circular ui icon button" type="submit" value="delete song">
            </form>
            <br>
            {{/each}}
        </ol>
    </div>
</div>