<h1>One Guitarist</h1>

<div>
    {{#each guitarist}}
    <img src="{{this.img}}">
    <div>{{this.name}}</div>
    <div>{{this.band}}</div>
    <div>{{this.bio}}</div>
    {{/each}}
</div>
<div>
    {{#each song}}
    <div>{{this.name}}</div>
    <div><a href="/{{../guitarist._id}}/{{this._id}}">click</a></div>
    {{/each}}
</div>
