<h1 class="show_name">{{guitarist.name}}</h1>
<div><a href="/guitarists/">Go Back</a></div>

<div class="guitarist_info">
    <img src="{{guitarist.img}}">
    <div class="hello">
        <div class="info">Band:</div><div>{{guitarist.band}}</div>
        <div class="info">Bio:</div><div>{{guitarist.bio}}</div>
        <form action="/guitarists/{{guitarist._id}}?_method=DELETE" method="POST">
            <input type="submit" value="delete user">
        </form>
        <div><a href="/guitarists/{{guitarist._id}}/edit">Edit Guitarist</a></div>
    </div>
</div>
<div>
    {{#each songs}}
    <div>Song name:{{this.name}}</div>
    <div><a href="/guitarists/{{../guitarist._id}}/songs/{{this._id}}">Song Details</a></div>
    <form action="/guitarists/{{../guitarist._id}}/songs/{{this._id}}?_method=DELETE" method="POST">
        <input type="submit" value="delete song">
    </form>
    {{/each}}
    <a href="/guitarists/{{guitarist._id}}/songs/new">Add New Song</a>

</div>