<h1>One Guitarist</h1>

<div>
    <img src="{{guitarist.img}}">
    <div>Guitarist: {{guitarist.name}}</div>
    <div>Band: {{guitarist.band}}</div>
    <div>Bio: {{guitarist.bio}}</div>
    <form action="/guitarists/{{guitarist._id}}?_method=DELETE" method="POST">
        <input type="submit" value="delete user">
    </form>
    <div><a href="/guitarists/{{guitarist._id}}/edit">Edit Guitarist</a></div>
</div>
<div>
    {{#each songs}}
    <div>Song name:{{this.name}}</div>
    <div><a href="/guitarists/{{../guitarist._id}}/songs/{{this._id}}">click</a></div>
    {{/each}}
</div>
