<h1 class="show_name">Edit {{song.name}}'s info</h1>
<div><a class="links" href="/guitarists/{{guitarist._id}}/songs/{{song._id}}">Back</a></div>

<div class ="form">
<form class="ui form sizing" action="/guitarists/{{guitarist._id}}/songs/{{song._id}}?_method=PUT" method="POST">
    <div class="field">
        <label>Name</label>
        <input type="text" name="name" value="{{song.name}}">
    </div>
    <div class="field">
        <label>Album</label>
        <input type="text" name="album" value="{{song.album}}">
    </div>
        <div class="field">
        <label>Length</label>
        <input type="text" name="length" value="{{song.length}}"></input>
    </div>
        <div class="field">
        <label>Image</label>
        <input type="text" name="img" value="{{song.img}}">
    </div>
  
    <button class="ui inverted basic button" type="submit">Update Song</button>
    
</form>
</div>