<div class="ui breadcrumb">
    <a class="active section" href="/guitarists">Home</a>
    <div class="divider"> / </div>
    <a class="section" href="/guitarists/{{guitarist._id}}">Back to Artist</a>
</div>

<h1 class="show_name">{{song.name}}</h1>

<div>
    
    <div>Album: {{song.album}}</div>
    <div>Length: {{song.length}}</div>  

</div>
 <div><a href="/guitarists/{{guitarist._id}}/songs/{{song._id}}/edit">Edit Song</a></div>


<h1>Gears Used</h1>
<div>
    {{#each gears}}
   <div>{{this.name}}</div>
   <div><a href="/guitarists/{{../guitarist._id}}/songs/{{../song._id}}/gears/{{this._id}}">click</a></div>
    <form action="/guitarists/{{../guitarist._id}}/songs/{{../song._id}}/gears/{{this._id}}?_method=DELETE" method="POST">
        <input class="ui inverted button type="submit" value="delete gear">
    </form>
    {{/each}}
    <a href="/guitarists/{{guitarist._id}}/songs/{{song._id}}/gears/new">Add New Gear</a>
</div>