<h1>Song detail page</h1>

<div>
    
    <div>Name: {{song.name}}</div>
    <div>Album: {{song.album}}</div>
    <div>Length: {{song.length}}</div>  

</div>

<h1>Gears Used</h1>
<div>
    {{#each gears}}
   <div>{{this.name}}</div>
   <div><a href="/guitarists/{{../guitarist._id}}/song/{{../song._id}}/gear/{{this._id}}">click</a></div>
    {{/each}}
</div>