<h1>Song detail page</h1>

<div>
    {{#each song}}
    {{this.name}}
    {{/each}}

</div>

<h1>Gears Used</h1>
<div>
    {{#each gears}}
   <div>{{this.name}}</div>
   <div><a href="/{{../guitarist._id}}/{{../song._id}}/{{this._id}}">click</a></div>
    {{/each}}
</div>