<div class="ui breadcrumb">
    <a id="section" class="active section" href="/guitarists">Home</a>
    <div id="section" class="divider"> / </div>
    <a id="section" class="section" href="/guitarists/{{guitarist._id}}">Back to Artist</a>
    <div id="section" class="divider"> / </div>
    <a id="section" href="/guitarists/{{guitarist._id}}/songs/{{song._id}}">Back to Song</a>
</div>

<h1 class="show_name">Gear Details</h1>

<div class="gears">
<div class="info">Name</div>
<div>{{gear.name}}</div>
<br>
<div class="info">Brand</div>
<div>{{gear.brand}}</div>
<br>
<div class="info">Description</div>
<div>{{gear.description}}</div>
</div>
