<h1>Gear Details</h1>
<div><a href="/guitarists/{{guitarist._id}}/songs/{{song._id}}">Go Back</a></div>

<div>Name: {{gear.name}}</div>
<div>Brand: {{gear.brand}}</div>
<div>Description: {{gear.description}}</div>

